annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.13.0+computecanada
certifi==2026.2.25+computecanada
charset_normalizer==3.4.6+computecanada
click==8.3.2
contourpy==1.3.1+computecanada
ctgan==0.12.1
cycler==0.12.1+computecanada
efficientnet_pytorch==0.7.1+computecanada
Faker==40.13.0
fast_pytorch_kmeans==0.2.2
filelock==3.20.1+computecanada
fonttools==4.61.1+computecanada
fsspec==2025.12.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.49
h11==0.16.0+computecanada
hf_xet==1.4.3+computecanada
higher==0.2.1
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==1.9.0+computecanada
idna==3.11+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.3+computecanada
jsonpatch==1.33+computecanada
jsonpointer==3.1.1
kiwisolver==1.4.8+computecanada
kornia==0.8.2
kornia_rs==0.1.9+computecanada
markdown_it_py==4.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.1+computecanada
mdurl==0.1.2+computecanada
mlconfig==0.1.1
mpmath==1.3.0+computecanada
networkx==3.6.1+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
packaging==25.0+computecanada
pandas==2.3.3+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.9.6
POT==0.9.0+computecanada
protobuf==6.33.6+computecanada
psutil==7.0.0+computecanada
pydantic==2.13.3+computecanada
pydantic_core==2.46.3+computecanada
pygments==2.20.0+computecanada
pyparsing==3.2.5+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
pyyaml==6.0.3+computecanada
pyzmq==27.1.0+computecanada
rdt==1.20.0
requests==2.33.1+computecanada
rich==14.3.3+computecanada
safetensors==0.7.0+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.11.2+computecanada
seaborn==0.13.2+computecanada
sentry_sdk==2.58.0+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
smmap==5.0.3+computecanada
sympy==1.14.0+computecanada
threadpoolctl==3.6.0+computecanada
timm==1.0.26
toml==0.10.2+computecanada
torch==2.9.1+computecanada
torchfile==0.1.0+computecanada
torchnet==0.0.4+computecanada
torchvision==0.24.1+computecanada
tornado==6.5.5+computecanada
tqdm==4.67.1+computecanada
triton==3.6.0+computecanada
typer==0.24.1+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tzdata==2025.3+computecanada
urllib3==2.6.3+computecanada
visdom==0.1.8.9+computecanada
wandb==0.24.0+computecanada
websocket_client==1.9.0+computecanada
